<div id="nav">
  <ul>
    <li><a href="/admin">后台首页</a></li>
  </ul>
  <div class="quick"><a href="/admin/post/write" title="创建文章"><span>创建文章</span></a></div>
</div>
<div id="action">
  <div><a href="/admin/post">日志列表</a></div>
  <div><a href="/admin/post/write">新建日志</a></div>
  <br/>

  <div><a href="/admin/page">页面列表</a></div>
  <div><a href="/admin/page/write">新建页面</a></div>
  <br/>

  <div><a href="/admin/comment">评论列表</a></div>
  <div><a href="/admin/verifyAkismet">验证Akismet</a></div>
  <br/>

  <div><a href="/admin/photo">相片列表</a></div>
</div>