<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>
  <!--<link rel="alternate" type="application/rss+xml" title="<%=title%>" href="http://feeds.feedburner.com/willerce">-->
  <link rel="stylesheet" href="/theme/assets/style.css">
  <link rel='stylesheet' id='google-webfonts-css'
        href='http://fonts.googleapis.com/css?family=Terminal+Dosis%3A200%2C400&#038;ver=3.5.1' type='text/css'
        media='all'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-31926992-2', 'af.cm');
    ga('send', 'pageview');
  </script>
  <script src="/libs/jquery.min.js"></script>
</head>
<body>
<header id="main-header">
  <div class="container"><a id="logo" href="/" title="OverNightPO">OverNightPO</a>
    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/page/whoweare">我们是谁</a></li>
        <li><a href="/page/whyus">为什么是我们</a></li>
        <li><a href="/page/haidao">海岛拍摄套餐</a></li>
        <li><a href="/page/diy">私人定制</a></li>
        <li><a href="/page/company">商业合作</a></li>
        <li><a href="/photo">作品集</a></li>
        <li><a href="/page/contactus">联系我们</a></li>
      </ul>
    </nav>
  </div>
</header>
<%- body %>
<footer id="main-footer">
  <div class="container">
    <p>&copy;2013 OverNightPO. All rights reserved.</p>
  </div>
</footer>
</body>
</html>